.category__container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 48px;
}

.category__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 350px;
  max-width: 350px;
  padding: 15px 14px 15px 28px;
  color: #fff;
  background-color: #524870;
  border-radius: 15px;
}

.category__card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.category__card > div {
  display: flex;
  align-items: center;
}

.category__card > div > img {
  margin-right: 22px;
}

.category__card-link {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: #7f56d9;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s all ease-in-out;
}

.category__card:hover .category__card-link {
  background: #503094;
}

.category__card-link:hover {
  background: #503094;
}

@media (max-width: 760px) {
  .title {
    text-align: center;
  }

  .category__container {
    justify-content: center;
  }
}
