* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', Helvetica, sans-serif;
    background-color: #2C1F4A;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

